<header class="container-header">
        <section>
            <nav class="nav-header">
                <ul class="ul-head">
                    <li><a href="">How It Works</a></li>
                    <li><a href="">WHAT TO EXPECT</a></li>
                    <li><a href="">REVIEWS</a></li>
                    <li><a href="">COMPANY</a></li>
                </ul>
                <ul class="ul-head2 ul-head">
                    <li><a href="">1-877-559-6227</a></li>
                    <li><a href="">GET MY BONUS OFFER</a></li>
                </ul>
            </nav>
        </section>
        <section class="section-1">
            <div>
                <h1>Sell your home without missing <br> out on its future worth.</h1>
                <p class="p-s1">We're putting more wealth back into the hands of homeowners.</p>
                <button class="button1-s1">Get My Bonus Offer</button>
                <button class="button2-s1">How It Works</button>
            </div>
        </section>
    </header>
    <main>
        <section class="section-2">
            <ul class="box-s2">
                <li>
                    <h2>Bonus™ lets you sell <br> your home AND <br> continue building <br> equity.</h2>
                </li>
                <li>
                    <p>When selling your home to Bonus™, not only do you get <br> money for your home today, but we let
                        you
                        share in your <br> home's future value by keeping a percentage of ownership <br> to sell again
                        in
                        the future — it's like profiting twice.</p>
                </li>
            </ul>
            <img src="img/img1.png" alt="Sales-schedule">
        </section>
        <section class="section-3">
            <img src="img/img2.png" alt="img">
            <ul class="box-s3">
                <li>
                    <p>1</p>
                    <p>Bonus Your Home Today</p>
                </li>
                <li>
                    <h3>Sell your equity to Bonus™ <br> and turn your home into a <br> long-term investment.</h3>
                </li>
                <li>
                    <details class="details">
                        <summary>Expand</summary>
                        <div class="details-p">
                            <p>Selling your home doesn't have to mean giving up its future worth. Bonus™ <br> lets you
                                sell
                                your
                                current equity, move out and still keep ownership in your <br> home. With no showings,
                                no
                                closing costs and lower fees than a traditional <br> sale, Bonus™ is a faster, easier
                                and
                                smarter way to sell, all while keeping <br> your home as a long-term investment!</p>
                        </div>
                    </details>
                </li>
            </ul>
        </section>