<div class="container">
    <section class="section-4">
        <ul>
            <li class="forms">
                <ul class="forms-container">
                    <li><span class="forms-num">2</span></li>
                    <li class="forms-subheading">Keep Ownership & Move On</li>
                </ul>
                <h2 class="forms-heading">As your investment partner, <br> Bonus&#8482; takes care of your <br> home
                    so
                    you can move on
                    <br> without
                    worry or costs.
                </h2>
                <details class="forms-details">
                    <summary class="forms-summary">expand</summary>
                    <!-- after -->
                    <p class="details-text">With Bonus&#8482;, your home receives our white-glove management and
                        care.
                        <br> We take care of
                        everything from maintenance,
                        repairs, and all other
                        <br> expenses to optimize the home for long-term value. You can
                        sit back and
                        <br> watch your equity and
                        home's value grow like a stock. Bonus&#8482; guarantees
                        <br> to never come back to you for any
                        money or costs.
                    </p>
                </details>
            </li>
        </ul>
        <ul>
            <li class="content-img"></li>
        </ul>
    </section>
</div>